fly.toml
Dockerfile
.dockerignore
node_modules
.pnp
.pnp.js
coverage
.git
.env
.log
.DS_Store
.env
.log
logs/*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
isolate-*
prof*.log