    <main class="container paginas pad-2 tienda">
        <div class="row bs_gutter-x-0 justify-content-center">
            <!-- Pagina: Tienda -->
            <section class="col-md-9 pad-right-1p5 pad-bottom-2" id="sectionProductsInput">
                <h2 class="text-center">Ingreso de Productos</h2>
                <article>
                    <form class="row g-3" action="/api/products/form" id="productsForm" method="post" name="productos" enctype="multipart/form-data">
                        <div class="col-12">
                            <label for="title" class="form-label">Nombre<span class="requerido">*</span></label>
                            <input required type="text" name="title" id="title" class="form-control" placeholder="Nombre de Producto" aria-label="title">
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label">Descripción<span class="requerido">*</span></label>
                            <textarea required name="description" id="description" class="form-control" placeholder="Descripción del Producto" aria-label="description"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="price" class="form-label">Precio<span class="requerido">*</span></label>
                            <input required type="number" name="price" id="price" class="form-control" placeholder="Precio de Producto" aria-label="price">
                        </div>
                        <div class="col-12">
                            <label for="code" class="form-label">Código<span class="requerido">*</span></label>
                            <input required type="text" name="code" id="code" class="form-control" placeholder="Código de Producto" aria-label="code">
                        </div>
                        <div class="col-12">
                            <label for="stock" class="form-label">Stock<span class="requerido">*</span></label>
                            <input required type="number" name="stock" id="stock" class="form-control" min="0" step="1" placeholder="Stock de Producto" aria-label="stock">
                        </div>                    
                        <div class="col-12">
                            <label for="thumbnail" class="form-label">Imagen<span class="requerido">*</span></label>
                            <input required type="file" name="thumbnail" id="thumbnail" class="form-control" aria-label="Imagen">
                        </div>                    
                        <div class="col-12 requerido">*Valor requerido</div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Añadir Producto</button>
                        </div>
                    </form> 
                </article>
                <div id="enviando"></div>
            </section>   
        </div> 
    </main>