    <div id="carroDiv">
        <h3>Carrito de Compras <a href="#" id="close"><i class="fas fa-times"></i></a></h3>
        <div id="carrito">
            <p>El carro de compras está vacio</p>
        </div>
    </div>