<div id="carroDiv">
    <h3>Carrito de Compras <a href="#" id="close"><i class="fas fa-times"></i></a></h3>
    <div class="info_checkout aside-flex collapse">
        <span id="carritoInfoTotal"></span>                        
        <span id="carritoTotalProd"></span>
    </div>
    
    <div id="carrito">
        <p>El carro de compras está vacio</p>
    </div>
    <p>
        <a href="/carrito">
            Ir al Carrito
        </a>
    </p>
</div>